<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KioskVerwaltung.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KioskVerwaltung.Properties.Settings>
            <setting name="Filename" serializeAs="String">
                <value>sbb_agentur_kiosk.xml</value>
            </setting>
            <setting name="SettingFilename" serializeAs="String">
                <value>settings.xml</value>
            </setting>
            <setting name="ClearBasketBarcode" serializeAs="String">
                <value />
            </setting>
        </KioskVerwaltung.Properties.Settings>
    </userSettings>
</configuration>